[Unit]
Description=Run HatchingPoint Cam 2 relay recovery

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=20s
Persistent=true

[Install]
WantedBy=timers.target
